<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93716660341-hd5ijgdag6sdt4js2dc1of2g3akl5q7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93716660341-hd5ijgdag6sdt4js2dc1of2g3akl5q7a</string>
	<key>API_KEY</key>
	<string>AIzaSyAhfNoJwdOwKV59SmX-3RrtPt3SqBqPX_g</string>
	<key>GCM_SENDER_ID</key>
	<string>93716660341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blocApp</string>
	<key>PROJECT_ID</key>
	<string>blocapp-58332</string>
	<key>STORAGE_BUCKET</key>
	<string>blocapp-58332.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93716660341:ios:445b3c863ea1ed6d55f83c</string>
</dict>
</plist>